torch>=1.9.0
tabulate>=0.8.9
tensorflow_datasets>=4.0.0
tokenizers>=0.10.3
numpy>=1.18.5
sentencepiece>=0.1.91
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git
git+https://github.com/erksch/fnet-pytorch.git